@import "tailwindcss";

@theme {
	--color-surface: #f8fafc;
	--color-surface-variant: #e6e8ec;
	--color-on-surface: #1a1c1e;
	--color-on-surface-variant: #44474f;
	--color-outline: #c1c7ce;
	--color-outline-variant: #e6e8ec;
	--color-primary: #6750a4;
	--color-primary-dark: #4f378b;
	--color-primary-container: #eaddff;
	--color-on-primary: #fff;
	--color-hover: #f1f3f6;

	--color-info: #2196f3;
	--color-success: #4caf50;
	--color-warning: #ff9800;
	--color-error: #f44336;

	--radius-lg: 1rem;

	--duration: 600ms;
	--spring: cubic-bezier(0, 1.56, 0.64, 1.0);

	--animate-fade-in-slide-up: fadeInSlideUp var(--duration) var(--duration) forwards;

	@keyframes fadeInSlideUp {
		from {
			opacity: 0;
			transform: translateY(20px);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	--animate-scale-in: scaleIn var(--duration) var(--spring) forwards;

	@keyframes scaleIn {
		from {
			opacity: 0;
			transform: scale(0.5);
		}

		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	--animate-fade-out: fadeOut var(--duration) var(--spring) forwards;

	@keyframes fadeOut {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}
}

body {
	@apply bg-surface text-on-surface;
}

.shrink-hover {
	@apply transition-transform duration-150 hover:scale-95;
}

.shrink-active {
	@apply transition-transform duration-150 active:scale-90;
}

.grow-hover {
	@apply transition-transform duration-150 hover:scale-105;
}

.grow-active {
	@apply transition-transform duration-150 active:scale-110;
}