@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-surface: #fcfaec;
	/*surface container high*/
	--color-surface-variant: #eae8dc;
	--color-on-surface: #1c1c14;
	--color-on-surface-variant: #47483b;
	--color-outline: #78786a;
	--color-outline-variant: #c8c7b7;
	--color-primary: #5c631d;
	--color-primary-dark: #5c631d;
	--color-primary-container: #e0e994;
	--color-on-primary: #ffffff;
	--color-hover: rgb(224, 233, 148, 0.3);

	--color-info: #2196f3;
	--color-success: #4caf50;
	--color-warning: #ff9800;
	--color-error: #f44336;

	--radius-lg: 1rem;

	--duration: 600ms;
	--spring: cubic-bezier(0, 1.56, 0.64, 1.0);

	--animate-fade-in-slide-up: fadeInSlideUp var(--duration) var(--duration) forwards;

	@keyframes fadeInSlideUp {
		from {
			opacity: 0;
			transform: translateY(20px);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	--animate-scale-in: scaleIn var(--duration) var(--spring) forwards;

	@keyframes scaleIn {
		from {
			opacity: 0;
			transform: scale(0.5);
		}

		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	--animate-fade-out: fadeOut var(--duration) var(--spring) forwards;

	@keyframes fadeOut {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}
}

.dark {
	--color-surface: #13140d;
	--color-surface-variant: #2a2a22;
	--color-on-surface: #e5e3d6;
	--color-on-surface-variant: #c8c7b7;
	--color-outline: #929282;
	--color-outline-variant: #47483b;
	--color-primary: #c4cd7b;
	--color-primary-dark: #a3b437;
	--color-primary-container: #444b04;
	--color-on-primary: #2e3300;
	--color-hover: rgba(68, 75, 4, 0.3);

	--color-info: #2196f3;
	--color-success: #4caf50;
	--color-warning: #ff9800;
	--color-error: #f44336;
}

body {
	@apply bg-surface text-on-surface;
}

.shrink-hover {
	@apply transition-transform duration-150 hover:scale-95;
}

.shrink-active {
	@apply transition-transform duration-150 active:scale-90;
}

.grow-hover {
	@apply transition-transform duration-150 hover:scale-105;
}

.grow-active {
	@apply transition-transform duration-150 active:scale-110;
}